<% if topic.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

  <ul>
    <% topic.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= form.label :title %><br>
  <%= form.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :url %><br>
  <%= form.text_field :url, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :monthly_salary %><br>
  <%= form.text_field :monthly_salary, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :annual_salary %><br>
  <%= form.text_field :annual_salary, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :memo %><br>
  <%= form.text_area :memo, :class => "form-control" %>
</div>
