
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th style="min-width: 280px;"></th>
    </tr>
  </thead>

  <tbody>
    <% topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default"><%= link_to 'Ignore', ignore_topic_path(topic), method: :put %></button>
          <button type="button" class="btn btn-default"><%= link_to 'Care', care_topic_path(topic), method: :put %></button>
          <button type="button" class="btn btn-default"><%= link_to 'Open', topic.url %></button>

          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              More
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit', edit_topic_path(topic) %></li>
              <li><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
