
<table class="table table-striped">
  <thead>
    <tr>
      <th style="min-width: 60px;"></th>
      <th style="min-width: 80px;">状态</th>
      <th style="min-width: 80px;">作者</th>
      <th style="min-width: 80px;">发布时间</th>
      <th style="min-width: 100px;">薪资(手动)</th>
      <th style="min-width: 80px;">标题</th>
      <!-- <th style="min-width: 100px;">薪资(自动)</th> -->
      <!-- <th style="min-width: 100px;">说明(手动)</th> -->
    </tr>
  </thead>

  <tbody>
    <% topics.each do |topic| %>
    <tr>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to '查看', topic %></li>
            <li><%= link_to '编辑', edit_topic_path(topic) %></li>
            <li><%= link_to '原招聘贴', topic.url, :target => "_blank" %></li>
            <li><%= link_to '收件箱', inbox_topic_path(topic), method: :put %></li>
            <li><%= link_to '忽略', ignored_topic_path(topic), method: :put %></li>
            <li><%= link_to '关注', cared_topic_path(topic), method: :put %></li>
          </ul>
        </div>
      </td>
      <td><%= link_to draw_topic_status(topic), topic %></td>
      <td><%= link_to topic.analyzed_author.to_s, topic %></td>
      <td><%= link_to topic.analyzed_release_at.strftime("%Y-%m-%d"), topic %></td>
      <td><%= link_to topic.manual_salary.to_s, topic %></td>
      <td><%= link_to topic.title.to_s, topic %></td>
      <!-- <td><%= link_to topic.analyzed_salary.to_s, topic %></td> -->
      <!-- <td><%= link_to topic.manual_memo.to_s, topic %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>
