<%= draw_action_header @topic.title %>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Status:</dt>
  <% case @topic.status %>
  <% when Topic::Status::INBOX %>
    <dd><span class="label label-default">Inbox</span></dd>
  <% when Topic::Status::IGNORED %>
    <dd><span class="label label-primary">Ignored</span></dd>
  <% when Topic::Status::CARED %>
    <dd><span class="label label-danger">Cared</span></dd>
  <% end %>
</dl>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @topic.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>URL:</dt>
  <dd><%= link_to @topic.url, @topic.url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Memo:</dt>
  <dd><%= @topic.memo %></dd>
</dl>

<div class="well">
  <div class="btn-group">
    <button type="button" class="btn btn-primary"><%= link_to 'Open', @topic.url %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Ignore', ignore_topic_path(@topic), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Care', care_topic_path(@topic), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_topic_path(@topic) %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Back', inbox_topics_path %></button>
  </div>
</div>
