<%= draw_action_header %>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @topic.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>URL:</dt>
  <dd><%= link_to @topic.url, @topic.url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Memo:</dt>
  <dd><%= @topic.memo %></dd>
</dl>

<div class="well">
  <div class="btn-toolbar">
    <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_topic_path(@topic) %></button>
    <button type="button" class="btn btn-default"><%= link_to 'Back', inbox_topics_path %></button>
  </div>
</div>
