<%= draw_action_header @topic.title %>

<div class="well">
  <div class="btn-group">
    <%= draw_button_to '原贴', @topic.url, target: "_blank" %>
    <%= draw_button_to '编辑', edit_topic_path(@topic) %>
  </div>

  <div class="btn-group">
    <% Tag.all.each do |tag| %>
      <% if @topic.is_taged(tag) %>
        <%= draw_button_to tag.name, untag_topic_path(@topic, tag: tag.name), method: :put, class: "btn btn-default active" %>
      <% else %>
        <%= draw_button_to tag.name, tag_topic_path(@topic, tag: tag.name), method: :put, class: "btn btn-default" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'topic', :topic => @topic %>