<%= form_for(tag, :html => {:role => "form"}) do |form| %>

<% if tag.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
  <ul>
    <% tag.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= form.label :name, '名称' %><br>
  <%= form.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :order, '编号' %><br>
  <%= form.number_field :order, :class => "form-control" %>
</div>

<div class="well">
  <div class="btn-toolbar">
    <%= form.submit('保存', :class => "btn btn-default") %>
  </div>
</div>

<% end %>