<%= draw_action_header "#{@tag.name} #{@tag.topics.count} 个帖子" %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#topic" data-toggle="tab">帖子</a></li>
  <li><a href="#tag"   data-toggle="tab">标签</a></li>
</ul>

<br>

<div class="tab-content">
  <div class="tab-pane active" id="topic">
    <%= render './topics/list', :topics => @tag.topics %>
  </div>
  <div class="tab-pane" id="tag">
    <div class="well">
      <%= draw_button_to '编辑', edit_tag_path(@tag) %>
      <% draw_button_to '删除', tag_path(@tag), method: :delete, data: {confirm: "你确定要删除吗"} %>
    </div>
    <dl class="dl-horizontal">
      <dt>名称:</dt>
      <dd><%= @tag.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>编号:</dt>
      <dd><%= @tag.order %></dd>
    </dl>
  </div>
</div>
