
<table class="table table-striped">
  <thead>
    <tr>
      <th style="min-width: 80px;">状态</th>
      <!-- <th style="min-width: 100px;">作者(自动)</th> -->
      <th style="min-width: 100px;">薪资(手动)</th>
      <th style="min-width: 80px;">标题</th>
      <th style="min-width: 100px;">薪资(自动)</th>
      <!-- <th style="min-width: 100px;">说明(手动)</th> -->
      <th style="min-width: 140px;"></th>
    </tr>
  </thead>

  <tbody>
    <% subjects.each do |subject| %>
    <tr>
      <td><%= link_to draw_subject_status(subject), subject %></td>
      <!-- <td><%= link_to subject.analyzed_author.to_s, subject.analyzed_author_url, :target => '_blank' %></td> -->
      <td><%= link_to subject.manual_salary.to_s, subject %></td>
      <td><%= link_to subject.title.to_s, subject.url, :target => '_blank' %></td>
      <td><%= link_to subject.analyzed_salary.to_s, subject %></td>
      <!-- <td><%= link_to subject.manual_memo.to_s, subject %></td> -->
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default"><%= link_to '查看', subject %></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            操作<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to '查看', subject %></li>
            <li><%= link_to '编辑', edit_subject_path(subject) %></li>
            <li><%= link_to '原招聘贴', subject.url, :target => "_blank" %></li>
            <li><%= link_to '收件箱', putinbox_subject_path(subject), method: :put %></li>
            <li><%= link_to '忽略', ignore_subject_path(subject), method: :put %></li>
            <li><%= link_to '关注', care_subject_path(subject), method: :put %></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
