<%= draw_action_header @subject.title %>

<p id="notice"><%= notice %></p>

<div class="well">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><%= link_to '原招聘贴', @subject.url, :target => "_blank" %></button>
    <button type="button" class="btn btn-default"><%= link_to '编辑', edit_subject_path(@subject) %></button>
    <button type="button" class="btn btn-default"><%= link_to '收件箱', putinbox_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '忽略', ignore_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '关注', care_subject_path(@subject), method: :put %></button>
  </div>
</div>

<%= render 'subject', :subject => @subject %>
