<%= draw_action_header @subject.title %>

<p id="notice"><%= notice %></p>

<div class="well">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><%= link_to '原招聘贴', @subject.url, :target => "_blank" %></button>
    <button type="button" class="btn btn-default"><%= link_to '编辑', edit_subject_path(@subject) %></button>
    <button type="button" class="btn btn-default"><%= link_to '收件箱', putinbox_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '忽略', ignore_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '关注', care_subject_path(@subject), method: :put %></button>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>状态:</dt>
  <dd><%= draw_subject_status(@subject) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>标题:</dt>
  <dd><%= @subject.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>网址:</dt>
  <dd><%= link_to @subject.url, @subject.url, :target => '_blank' %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>自动薪资:</dt>
  <dd><%= @subject.analyzed_salary %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>手动薪资:</dt>
  <dd><%= @subject.manual_salary %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>手动 说明:</dt>
  <dd><%= @subject.manual_memo %></dd>
</dl>
