<%= draw_action_header @subject.title %>

<p id="notice"><%= notice %></p>

<div class="well">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><%= link_to '打开', @subject.url, :target => "_blank" %></button>
    <button type="button" class="btn btn-default"><%= link_to '收件箱', putinbox_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '忽略', ignore_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '关注', care_subject_path(@subject), method: :put %></button>
    <button type="button" class="btn btn-default"><%= link_to '编辑', edit_subject_path(@subject) %></button>
    <button type="button" class="btn btn-default"><%= link_to '删除', @subject, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Status:</dt>
  <dd><%= draw_subject_status(@subject) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @subject.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>URL:</dt>
  <dd><%= link_to @subject.url, @subject.url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>自动 薪水:</dt>
  <dd><%= @subject.analyzed_salary %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>手动 薪水:</dt>
  <dd><%= @subject.manual_salary %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>手动 说明:</dt>
  <dd><%= @subject.manual_memo %></dd>
</dl>
